$primary: #002B68;

$primary_100: #CCDAEF;
$primary_200: #99B5DE;
$primary_300: #6691CE;
$primary_400: #336CBD;
$primary_500: #0047AD;
$primary_600: #00398A;
$primary_700: #002B68;
$primary_800: #001C45;
$primary_900: #000E23;

$green_o20: rgba(102, 221, 179, 0.2);

$grey: #EFF0F2;
$grey_100: #FAFAFA;
$grey_200: #E1E1E1;
$grey_500: #6F6C90;
$grey_600: #4B4B4B;
$grey_700: #000000;