// Bootstrap
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$container-max-widths: (
    xxl: 1594px
);

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";

@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/alert";

// Main
@import './abstracts/global';
@import './base/global';


#masthead {
    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}